
#logo {
  width: 50px;
  height: 50px;
}
.logo img{
  margin-left: -15px;
}
.header-info {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}
#add-task{
  transform: rotate(45deg);
  margin-left: 10px;
  font-size: 50px;
  float: right;
  visibility: visible;
}
.header {
  width: 500px;
  border: 2px solid black;
  height: 100%;
  margin: auto;
  display: block;
}

#task-container {
  height: 600px;
  width: 500px;
  margin: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: block;
}

.task-div {
  border-bottom: 1px solid black;
  width: 100%;
}

.name {
  display: inline;
}

.label-name {
  text-align: left;
}

#task-form {
  margin-left: 250px;
}

#submit-button {
  margin-left: 140px;
}

div.text {
  margin: 0;
  padding: 0;
  padding-bottom: 1.25em;
}

div.text label {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 100%;
  padding-top: .1em;
  padding-right: .25em;
  width: 10em;
  text-align: right;
  float: left;

}

div.text input,
div.text textarea {
  margin: 0;

  padding-left: 5px;
  display: block;
  font-size: 100%;
}

input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover {
  background-color: lightyellow;
  border-color: yellow;
}

#no-tasks {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}

#myBtn {
  visibility: hidden;
  float: right;
}

.form-element {
  display: block;
  text-align: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.style_importance{
  padding-left: 20px !important;
  display: inline-block;
}


div.check_importance label {
  display: block;
  font-size: 100%;
  padding-top: .1em;
  padding-right: .5em;
  width: 10em;
  text-align: right;
  float: left;

}

#description {
  margin-top: 10px;
}

.style_for_description{
  margin-right: 1000px;
}
