#logo {
  width: 90px;
  height: 70px;
  float:left;
  margin-top: 5px;

}
.container1>.nav>li>a:hover{
  background-color: #fff8e7;
  color: #9b2948 !important;
  border-color:#fff8e7;
}

body {
  background-color:#fff8e7 !important;
  font-family: "Quicksand" , sans-serif !important;
}

.header-info {
  display: inline-block;
  text-align: left;
font-size: 50px;
letter-spacing: 1px;
  color: black;
  margin-top: 8px;
  margin-bottom: 10px;
}

#add-task{
  margin-top: 15px;
  margin-left: 10px;
  font-size: 50px;
  float: right;
  visibility: visible;
}
.header {
  width: 66%;
  border-left: 1px solid #9b2948;
  border-right: 1px solid #9b2948;
  /* border: 2px solid black; */
  height: 100%;
  margin: auto;
  display: block;
  padding: 20px;
  /* background-color: white; */
  /* margin-top: 120px; */
  margin-bottom: 20px;
}

#task-container {
  max-height: 600px;
  overflow: scroll;
  height: 100%;
  width: 66%;
  margin-left: 1%;
  /* border-left: 2px solid black; */
  /* border-right: 2px solid black; */
  display: inline-block;
  background-color: #fff8e7;
}

.change-day {
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 20px;
  margin-top: 200px;
}

#prev-day {
  float: left;
  width: 10%;
  margin-left: 6%;
}
#next-day {
  float: right;
  width: 10%;
  margin-right: 6%;
}
#left-arrow {
  /* display: none; */
  font-size: 100px;
  margin-left: 20px;
  color: #e0e0e0;
}
#right-arrow {
  /* display: none; */
  font-size: 100px;
  margin-left: 20px;
  color: #e0e0e0;
}

.task-div {
  margin-bottom: 15px;
  border-radius: 10px;
}

.container1 {
  background-color: #9b2948 !important;
  width: 100% !important;
  height: 80px;
  position: fixed;
  top: 0 !important;
  z-index: 1001;
}

.container1 a {
  font-size: 20px;
  color: #fff8e7 !important;
}

.active a{
  color: #9b2948 !important;
  background-color: #fff8e7 !important;
}

.nav-tabs {
  margin-left: 90px;
  height: 50px;
  margin-top: 30px;
  padding-top: -10px;
  border-bottom: 0px solid white !important;
  margin-left: 17%;
}


#edit-button {
  margin-left: 400px;
}

#delete-button {
  margin-left: 10px;
}

#edit-button1 {
  margin-left: 400px;
}

#delete-button1 {
  margin-right: 10px;
}

#edit-button2 {
  margin-left: 400px;
}

#delete-button2 {
  margin-right: 10px;
}

#edit-button3 {
  margin-left: 400px;
}

#delete-button3 {
  margin-right: 10px;
}

#edit-button4 {
  margin-left: 400px;
}

#delete-button4 {
  margin-right: 10px;
}

.task-text {
  margin-left: 10px !important;
}

.name {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  font-size: 24px;
}

.importance {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
}

.importance-slider {
  width: 128px !important;
}

.description {
  margin-top: -5px;
  margin-left: 5px;
  font-size: 18px;
}

.modal-description {
  margin-top: 20px !important;
}

.hours {
  display: inline;
  margin-left: 5px;
  font-size: 18px;
}

.minutes {
  display: inline;
  font-size: 18px;
}

.colon {
  display: inline;
  font-size: 18px;
}

.done {
  font-size: 18px;
  margin-left: 5px;
  margin-right: 3px;
  font-weight: 400;
  display: inline-block;
}

.type {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 34px !important;
  display: block !important;
}

.label-name {
  text-align: left;
}

#task-form {
  margin-left: 15px;
}

#submit-button {
  margin-left: 150px;
}

#done-editing-button {
  margin-left: 150px;
  visibility: hidden;
  display: none;
}

#edit1-button {
  margin-left: 150px;
  visibility: hidden;
  display: none;
}

#edit2-button {
  margin-left: 150px;
  visibility: hidden;
  display: none;
}

#edit3-button {
  margin-left: 150px;
  visibility: hidden;
  display: none;
}

#edit4-button {
  margin-left: 150px;
  visibility: hidden;
  display: none;
}

div.text {
  margin: 0;
  padding: 0;
  padding-bottom: 1.25em;
}

div.text label {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  display: block;
  font-size: 100%;
  padding-top: .1em;
  padding-right: .25em;
  width: 10em;
  text-align: right;
  float: left;

}

div.text input,
div.text textarea {
  margin: 0;

  /*padding-left: 5px;*/
  display: block;
  font-size: 100%;
}

::-webkit-input-placeholder {
  font-style: italic;
}

input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover {
  background-color: #ffdada;
  border-color: #f29191;
}

#no-tasks {
  text-align: left;
  margin-top: 0px;
  padding-top: 20px;
  margin-left: 10px;
}

#myBtn {
  visibility: hidden;
  float: right;


}

.form-element {
  display: block;
  text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #8EFF8A;
    color: white;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.modal-header-text {
    margin-left: 46px;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    background-color: #8EFF8A;
    color: white;
}

.style_importance{
  padding-left: 20px !important;
  display: inline-block;
}


#description {
  margin-top: 10px;
}

.style_for_description{
  /*margin-right: 1000px;*/
}

.logout {
  float: right !important;
}

#hardcode_task1{
  background-color: #FFDADA;
}

#hardcode_task2{
  background: #FFCECD;
}

#hardcode_task3{
  background: #FFAAA8;
}

#hardcode_task4{
  background: #FFAAA8;
}

.filter {
  font-size: 20px;
  color: black;
  margin-top: 120px;
  margin-left: 245px;
}

.filter-checkbox {
  height: 25px;
  width: 25px;
}



label{
  margin-right: 10px;
  margin-left: -10px;
}
