.about-us {
  width: 300px;
  float: left;
  margin-left: 200px;
  margin-top: 200px;
}

.login-section {
  float: right;
  margin-right: 250px;
  margin-top: 200px;
}

body {
  background-color: #fff8e7;
  font-family: "Quicksand", sans-serif;
}

input {
  height: 30px;
  width: 400px;
  font-size: 18px;
}

button {
  height: 40px;
  width: 70px;
}

#about-us {
  text-align: left;
  font-size: 30px;
}

#logo {
  height: 130px;
  width: 130px;
  display: block;
  margin-bottom: 35px;
  margin-left: 30%
  /* margin-right: 350px; */
}

.logo-name{
  text-align: center;
  margin-top: -45px;
  margin-bottom: 40px;
  font-size: 30px;
}

#email {
  display: block;
  margin-bottom: 30px;
  width: 300px;
  font-family: "Quicksand";

}

#password {
  display: block;
  margin-bottom: 30px;
  width: 300px;
  font-family: "Quicksand";

}

#login {
  float: right;
  margin-right: 70px;
  font-size: 15px;
  font-family: "Quicksand";

}

#signup {
  float: left;
  margin-left: 70px;
  font-size: 15px;
  font-family: "Quicksand";
}

#confirm {
  display: none;
  margin-bottom: 20px;
  width: 300px;
  font-family: "Quicksand";

}

#create {
  display: none;
  margin: auto;
  font-family: "Quicksand";
  width: 100px;

}

#about-us-description {
  text-align: justify;
  font-size: 20px;
  width: 400px;
}
